

.navbar .navbar-default {
  padding: 0;
}

#seattle  {
  position: relative;
  width: 100%;
}
#overlayText h1{
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  font-family:'Dancing Script', cursive;
  font-size: 900%;
  color: white;
}


#overlayText-2 {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  font-family:'Dancing Script', cursive;
  font-size: 200%;
  color: white;

  
}

#nav {
  background-color: #90C3D4;
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
}

#nav-1 {
  font-family: 'Vesper Libre', serif;
  font-size: 30px;
  color: white;
}

#nav2 {
  background-color: #90C3D4;
  color: white;
}

/*.well-2 {
  background-color: #90C3D4;
}*/

#search {
  align: right;
}

.container {
  background-color: #90C3D4;
  width: 100%;
  color:navy;
}

.container-2 {
  padding-top: 60px;
  padding-bottom: 15px;
}

.container-1 {
  margin-left: 250px;
}

#steve {
  height: 10%;
  padding-left: 65%;
  /*padding-bottom: 25%;*/
}

#aboutSteve {
  padding-right: 10%;
  padding-top: 3%;
  font-family: 'Vesper Libre', serif;
  font-size: 30px;
}

#moreAboutSteve {
  padding-right: 10%;
}

#nav {
  background-color: rgba(0, 0, 0, 0.5);
}

#nav2 {
  background: transparent;
}

.navbar-default {
  border:0;
}

/*h4 {
  text-align: center;
}*/

/*#aboutSteve {
  text-align: left;
}*/

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */
h1 {
  text-align:center;
  margin-bottom:-20px !important;
}
p {
  font-style:italic;
}


.footer {
  background-color:;
}

@media only screen and (max-width: 600px) {
  #overlayText {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color:white;
}
  #overlayText-2 {
  display: none;
}
}

@media only screen and (max-width: 375px) {
  #overlayText {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color:white;
  font-family: 'Dancing Script', cursive;

}
  #overlayText-2 {
  display: none;
  font-family: 'Dancing Script', cursive;

}
}